@model CourseVM
@{
    ViewData["Title"] = "index";
}
<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Course Start -->
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form id="search" action="#">
                        <input type="search" placeholder="Search..." name="search" />
                        <button type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach(var item in Model.Courses)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course mb-70">
                        <div class="course-img">
                            <a asp-action="coursedetails" asp-route-id="@item.Id">
                                <img src="~/img/course/@item.ImageUrl" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a href="course-details.html">@item.Name</a></h3>
                            <p> @item.Description.Substring(0,121)</p>
                            <a class="default-btn" asp-action="coursedetails" asp-route-id="@item.Id">read more</a>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>
<!-- Course End -->
@await Html.PartialAsync("_SubscribeNow",new SubscribeVM());
